NODE_ENV=develop
PORT=3000

#--------------------- Database --------------------------
DB_HOST=localhost
DB_PORT=3306
DB_USER=root
DB_PASSWORD=password
DB_NAME=mysql

#--------------------- Redis --------------------------
REDIS_HOST=host
REDIS_PORT=6379
REDIS_USER=user
REDIS_PASSWORD=password
REDIS_TTL=1h

ENDPOINT_APPLICATION_MS=https://application-ms.akiira.org
METHOD_APPLICATION_VERIFY=POST
URL_APPLICATION_VERIFY=/api/register/verify-token
